
body {
    font-family: 'Times New Roman', Times, serif;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    width: 500px;
}

#upper {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

span {
    font-weight: bold;
    font-size: x-large;
}

section {
    overflow: auto;
}

#stars {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* max-width: 250px; */
}

img {
    max-height: 25px;
    max-width: 25px;
    padding: 15px;
    border: 1px solid yellow;
    border-radius: 10px;
    display: inline-block;
}